html{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    width: 100%;
}

button{
    background-color: #f8f9cc;
    border-radius: 18px;
    border-width: 7px;
    border-color: #5c6b28;
    border-style: solid;

    padding: 20px;
    color: #141c11;
    text-align: center;
    font-size: 24px;

    display: inline-block;
    width: 300px;
    height: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.header{
    height: 7%;
    background-color: #e7e8a6;
}

.footer{
    height: 7%;
    background-color: #e7e8a6;
}

.bodySec{
    height: 86%;
    background-color: #f8f9cc;
    background-image: url("longpath.png");
    background-size: 98%;
    background-position: center;
    background-repeat: no-repeat;
}

.buttonSec{
    display: flex;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.LogoSec{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    width: 50%;
}

.bigInput{
    width: 70%;
    height: 20%;
    font-size: 32pt;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}

.bigInputLineup{
    margin-left: 15%;
}

.localCenter{
    width:20%;
    margin-left: 40%;
}

.genericHead{
    text-align: center;
}