html{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    width: 100%;
}

button{

}

.mainButton{
    /* deals with button color and border*/
    background-color: #f8f9cc;
    border-radius: 18px;
    border-width: 7px;
    border-color: #5c6b28;
    border-style: solid;
    padding: 20px;

    /* deals with text*/
    color: #141c11;
    text-align: center;
    font-size: 24px;

    /* deals with button position and margin*/
    display: inline-block;
    width: 300px;
    height: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.header{
    height: 7%;
    background-color: #e7e8a6;
}

.footer{
    height: 7%;
    background-color: #e7e8a6;
}

.bodySec{
    /*Sets the background of the body of the page*/
    height: 86%;
    background-color: #f8f9cc;
    background-image: url("longpath.png");
    background-size: 98%;
    background-position: center;
    background-repeat: no-repeat;
}

.buttonSec{
    /*Centers the button*/
    display: flex;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.LogoSec{
    /*Deals with logo position*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    width: 50%;
}

.bigInput{
    width: 70%;
    height: 20%;
    font-size: 32pt;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}

.bigInputLineup {
    margin-left: 15%;
}

.localCenter {
    width:20%;
    margin-left: 40%;
}

.genericHead {
    text-align: center;
}

#map {
    height: 100%;
    width: 100%;
}

.overlay {
    background-color: #e7e8a6;
    height: 88%;
    width: 300px;
    margin-left: 10px;
    margin-top: 70px;
    background-image: url("longpath.png");
    background-size: 500%;
    background-repeat: no-repeat;
    background-position-y: 100%;
}

.overlaySmall {
    background-color: #e7e8a6;
    height: 16%;
    width: 300px;
    margin-left: 10px;
    margin-top: 70px;
    background-image: url("longpath.png");
    background-size: 500%;
    background-repeat: no-repeat;
    background-position-y: 70%;
    background-position-x: 10%;
}

.mapInput
{
    margin-top: 15px;
    margin-left: 10px;
    width: 80%;
    height: 40px;
    border-radius: 12px;
}